body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

    /*=============== Header Section ===============*/

span{
    color: orange;
}
h1{
    font-size: 50px;
    font-weight: bold;
    color: #ccc;
}
a{
    color: white;
    background-image: linear-gradient(45deg, orange, tomato);
    text-decoration: none;
    padding: 15px 25px;
    border-radius: 35px;
}
.header-section{
    display: flex;

}
.header-left{
    width: 40%;
    margin-left: 4%;
    padding-left: 2%;
    padding-top: 10%;
    
}
.header-section img{
    width: 90%;
    height: 90%;
    padding-left: 8%;
    padding-top: 5%;
}


    /*=============== Body Section ===============*/


.body-section{
   /* background-image: url(images/background.png);
    background-repeat: no-repeat; */
    display: flex;
    margin-top: 40px;

}
.body-section img{
    height: 400px;
    padding-left: 200px;
}
.recipi-div{
    text-align: center;
}
.part-section{
    
}




    /*=============== Before Footer Section ===============*/

.before-footer{
     display: flex;
     margin: 10px;
     
}


    /*=============== Footer Section ===============*/

.footer-section{
    background-color:black;
    text-align: center;
    padding-top: 15px;
    height: 180px;
    color:gray;
}
.footer-section span{
    color: tomato;
}
.footer-section h6{
    color: white;
}
